@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body,
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter';
}

span {
    color: #4CAF4F;
}

button {
    cursor: pointer;
}

/* ******** Início Header ******** */

header {
    display: flex;
    background-color: #fff;
    align-items: center;
    position: relative;
    justify-content: space-between;
    padding: 0 120px;
    z-index: 1000;
}

.logo {
    display: flex;
    padding: 30px 0px 30px 0px;
    align-items: center;
}

.nav-menu {
    display: flex;
    align-items: center;
}

.service {
    display: flex;
    gap: 50px;
    padding: 30px 0px;
}

.action {
    display: flex;
    gap: 14px;
}

.login {
    padding: 10px 20px;
    color: #4CAF4F;
    background-color: transparent;
    border: 1px solid #4CAF4F;
    border-radius: 6px;
    cursor: pointer;
}

.sign-up {
    padding: 10px 20px;
    color: #fff;
    background-color: #4CAF4F;
    border-radius: 6px;
    border: none;
    cursor: pointer;
}

.menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
    padding: 10px;
    z-index: 1001;
}

.menu-toggle span {
    width: 30px;
    height: 3px;
    background-color: #333;
    margin: 5px 0;
    transition: 0.3s;
}

.mobile-menu {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
    padding: 20px 0;
    z-index: 999;
}

.mobile-menu .service p:hover {
    background-color: #f2ededc7;
    border-radius: 5px;
    transition: background-color 0.4s ease;
    padding: 5px 10px;
}

.mobile-menu.open {
    display: flex;
}


/* ******** Fim Header ******** */

/* ******** 1ª section ******** */

main {
    text-align: center;
    background-color: #F5F7FA;
}

main div {
    text-align: start;
}

aside {
    background-color: #F5F7FA;
    display: flex;
    justify-content: center;
    gap: 103px;
}

h1 {
    font-size: 64px;
    padding: 161.5px 0 0 0;
}

.primeiro {
    padding: 16px 0 0 0px;
}

.registro {
    background-color: #4CAF4F;
    color: #fff;
    padding: 14px 32px;
    border-radius: 4px;
    margin-top: 32px;
}

.image1 {
    padding: 96px 0px;
}

.pontos {
    display: flex;

}

/* ******** Fim da 1ª section ******** */

/* ********  2ª section ******** */

.section2 {
    background-color: #fff;
}

.primeiro-h2 {
    text-align: center;
    padding: 40px 0 8px 0;
    font-size: 36px;
}

.segundo {
    text-align: center;
    padding-bottom: 16px;
}

.marcas {
    display: flex;
    gap: 136px;
    justify-content: center;
}

/* ******** Fim da 2ª section ******** */

/* ******** 3ª section ******** */

.section3 {
    background-color: #fff;
    padding-bottom: 90px;
}

.cards-container {
    display: flex;
    gap: 127.5px;
    justify-content: center;
    padding-top: 8px;
}

.card {
    background: #fff;
    border: 1px solid #eaeaea;
    border-radius: 8px;
    text-align: center;
    width: 297px;
    height: 258px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.icon {
    display: flex;
    margin-bottom: 20px;
    justify-content: center;
}

.icon img {
    width: 50px;
    height: 50px;
    padding-top: 24px;
}

.primeiro-h3 {
    font-size: 20px;
    color: #333;
    margin-bottom: 10px;
}

.terceiro {
    font-size: 14px;
    color: #666;
    line-height: 1.6;
}

/* ******** Fim da 3ª section ******** */

/* ******** 4ª section ******** */

.aside-2 {
    background-color: #fff;
    display: flex;
    justify-content: center;
    gap: 49px;
}

.image2 {
    padding: 52px 0 100px 0px;
}

.segundo-h2 {
    padding: 82px 0 0 0;
    font-size: 36px;
}

.quarto {
    padding: 16px 0 0 0px;
    line-height: 20px;
    font-size: 14px;
}

.learn {
    background-color: #4CAF4F;
    color: #fff;
    padding: 14px 32px;
    border-radius: 4px;
    margin-top: 32px;
}

/* ******** Fim da 4ª section ******** */

/* ******** 5ª section ******** */

.aside-3 {
    display: flex;
    justify-content: center;
    gap: 204px;
}

.terceiro-h2 {
    padding: 84px 0 0 0;
    font-size: 36px;
}

.quinto {
    padding: 8px 0 84px 0;
    color: #18191F;
}

.imagem3 {
    padding: 3px 0;
    width: 48px;
    height: 48px;
    padding-top: 64px;
}

.segundo-h3 {
    font-size: 28px;
    padding: 0 82px 0 0;
}

.terceiro-h3 {
    font-size: 28px;
    padding: 0 104px 0 0;
}

.quarto-h3 {
    font-size: 28px;
}

.sexto {
    color: #717171;
}

.cards {
    display: flex;
    border-radius: 8px;
    text-align: center;
    height: 50px;

}

.informacoes {
    display: block;
    padding: 0 0 0 16px;
    height: 50px;
    padding-top: 64px;
}

.mini-card {
    display: flex;
    width: 540px;
    height: 260px;
    flex-wrap: wrap;
    overflow: hidden;
    gap: 50px;
}

/* ******** Fim da 5ª section ******** */

/* ******** 6ª section ******** */

.quarto-h2 {
    padding: 110.7px 0 0 0;
    font-size: 36px;
}

.image4 {
    padding: 48px 0;
}

/* ******** Fim da 6ª section ******** */

/* ******** 7ª section ******** */

.aside-4 {
    display: flex;
    justify-content: center;
    gap: 78px;
}

.image5 {
    padding: 32px 0 16px 0;
}

.setimo {
    color: #717171;
    line-height: 24px;
    padding: 33px 0 16px 0;

}

.quinto-h3 {
    color: #4CAF4F;
    font-size: 20px;
    padding-bottom: 8px;
}

.oitavo {
    color: #89939E;
    padding-bottom: 36px;
}

.separacao {
    display: flex;
    gap: 32px;
}

.icones {
    display: flex;
    gap: 41px;
}

.botao {
    padding: 8px;
    font-size: 20px;
    color: #4CAF4F;
    background-color: transparent;
    margin-top: 4px;
    font-weight: bold;
}

/* ******** Fim da 7ª section ******** */

/* ******** 8ª section ******** */
.section4 {
    background-color: #fff;
    padding-top: 48px;
}

.quinto-h2 {
    text-align: center;
    font-size: 36px;
    padding-bottom: 8px;
}

.nono {
    text-align: center;
    color: #717171;
    line-height: 24px;
}

.cards-container-1 {
    display: flex;
    gap: 24px;
    justify-content: center;
    padding: 16px 0 95px 0;
    flex-wrap: wrap;
}

.card-1,
.card-2,
.card-3 {
    background: none;
    overflow: visible;
    border: none;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1);
    overflow: hidden;
    max-width: 368px;
    height: 390px;
    text-align: center;
    transition: transform 0.3s ease;
}

.card-1:hover,
.card-2:hover,
.card-3:hover {
    transform: translateY(-5px);
}

.card-image-1,
.card-image-2,
.card-image-3 {
    height: 286px;
    /* Altura da imagem */
    background-size: cover;
    background-position: center;
    width: 100%;
    /* Faz a imagem ocupar toda a largura do card */
}

.card-content-1,
.card-content-2,
.card-content-3 {
    padding: 15px;
    background: #F5F7FA;
    border-radius: 8px 8px;
    box-shadow: 0px 0px 7px 3px rgba(0, 0, 0, 0.1);
    width: 78%;
    /* O conteúdo agora é menor que o card */
    margin: -75px auto 0 auto;
    /* Centraliza o conteúdo e ajusta a posição */
}

.card-content-1 h3,
.card-content-2 h3,
.card-content-3 h3 {
    font-size: 20px;
    margin: 0 0 15px;
    color: #717171;
    text-align: center;
}

.botao-1 {
    padding: 8px;
    font-size: 20px;
    font-weight: bold;
    color: #4CAF4F;
    background-color: transparent;
    margin-top: 12px;
    margin-left: 85px;

}


/* ******** Fim da 8ª section ******** */

/* ******** 9ª section ******** */

.sexto-h2 {
    font-size: 64px;
    text-align: center;
    padding: 32px 0;
}

.botao-2 {
    padding: 14px 32px;
    background-color: #4CAF4F;
    color: #fff;
    border: 2px solid #4CAF4F;
    border-radius: 4px;
    font-size: 16px;
    margin: 0 0 32px 0;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    position: relative;
    overflow: hidden;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.botao-2 span {
    color: inherit;
    /* Garante que o texto use a cor branca herdada */
    display: inline-block;
    transition: transform 0.3s ease, color 0.3s ease;
}

.botao-2:hover {
    background-color: #fff;
    color: #4CAF4F;
}

.botao-2:hover span:first-child {
    transform: translateX(10px);
}

.botao-2:hover .arrow {
    transform: translateX(20px);
}


/* ******** Fim da 9ª section ******** */

/* ******** Footer ******** */

footer {
    background-color: #263238;
    color: #fff;
    display: flex;
    justify-content: center;
    gap: 180px;
}

.footer-logo {
    padding-top: 64px;
    padding-bottom: 40px;
}

footer p {
    margin: 0;
    color: #F5F7FA;
    font-size: 14px;
    padding-bottom: 40px;
    line-height: 20px;
}

.icon-container {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #3B464C;
    width: 40px;
    height: 40px;
    transition: all 0.3s ease;
}

.sociais {
    width: 18px;
    height: 18px;
    transition: all 0.3s ease;
}

.footer-socials {
    display: flex;
    gap: 24px;
    padding-bottom: 77.33px;
}

.icon-container:hover {
    transform: translateY(-10px);
    background-color: #fff;
}

.icon-container:hover .sociais {
    filter: invert(1);
}

/*******************************************/

.parte2 {
    display: flex;
    gap: 90px;
    padding-top: 64px;
}

footer h4 {
    margin-bottom: 24px;
    font-size: 20px;
    color: #fff;
}


.footer-links {
    list-style: none;
    font-size: 14px;
}

.footer-link {
    color: #F5F7FA;
    text-decoration: none;
    display: block;
    margin-bottom: 12px;
    transition: color 0.3s;
}

.footer-link:hover {
    color: #4CAF4F;
}

.newsletter-form {
    display: flex;
    align-items: center;
}

input::placeholder {
    color: #D9DBE1;
}

.newsletter-input {
    flex: 1;
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 5px 0 0 5px;
    background-color: #515B60;
    color: #fff;
}

.newsletter-button {
    padding: 7px 9px;
    ;
    border: none;
    background-color: #515B60;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    transition: background-color 0.3s;
}

.newsletter-button:hover {
    background-color: #4CAF4F;
}

/* ******** Fim do Footer ******** */


/* ******** Responsividade ******** */

@media (max-width: 576px) {
    /* Header */

    header{
        padding: 0 30px;
    }

    .nav-menu {
        display: none; /* Esconde os menus normais */
    }

    .menu-toggle {
        display: flex;
    }

    .mobile-menu.open {
        display: flex; /* Exibe o menu mobile */
    }

    .mobile-menu .service,
    .mobile-menu .action {
        display: flex;
        flex-direction: column;
        gap: 15px;
        align-items: center;
        width: 100%;
    }

    .mobile-menu .action {
        margin-top: 20px;
    }

    .menu-toggle.active span:nth-child(1) {
        transform: rotate(43deg) translate(8px, 7px);
    }

    .menu-toggle.active span:nth-child(2) {
        opacity: 0;
    }

    .menu-toggle.active span:nth-child(3) {
        transform: rotate(-41deg) translate(7px, -13px);
    }

    /* Fim Header */

    /* ******** 1ª section ******** */
    aside {
        display: flex;
        flex-direction: column-reverse;
        gap: 20px;
        width: 80%;
        text-align: center;
    }

    .image1{
        padding-bottom: 0;
        padding-top: 35px;
    }

    h1{
        padding-top: 0px;
    }

    .registro{
        margin-bottom: 35px;
        margin-left: 1px;
    }
    
    /* ******** Fim 1ª section ******** */
}

/* ******** Fim da Responsividade ******** */